*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    overflow: hidden;
    max-width: 1040px;
    min-width: 375px;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* Background Header */
header{
    width: 40%
}
.backgrounds{
    width:40% ;
}
.bg-mob{
    display: none;
}
.backgrounds img.bg-desk{
    display: flex;
}
/* Image card - front */
.card-container{
    position: relative;
}
#card-front{
    position: absolute;
    width: 35%;
    left: 15vw;
    top: -140vh;
}
#card-logo{
    position: absolute;
    width: 6%;
    left: 17vw;
    top: -138vh;
}
#name-card{
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 15px;
    left: 16vw;
    top: -113vh;
    text-transform: uppercase;
}
#numb-card{
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 20px;
    left: 16vw;
    top: -122vh;
    letter-spacing: 3px;
}
#exp-card{
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 15px;
    left: 34vw;
    top: -113vh;
}
/* Image card - back */
.card-cont-back{
    position: relative;
}
#card-back{
    position: absolute;
    width: 35%;
    left: 17vw ;
    top: -99vh;
}
#cvc-card{
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 15px;
    left: 38vw;
    top: -85vh;
}

/* Form */
form{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#form-content{
    position: absolute;
    width: 500px;
    background-color: #fff;
    padding: 25px;
    top: 20vh;
    left: 55vw;
}
label{
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 9px 10px;
    font-size: 18px;
    position: relative;
    color: hsl(278, 71%, 32%);
    font-weight: 500;
}

input{
    border:none;
    border-bottom: 2px solid  hsl(278, 94%, 30%);
    width: 30vw;
    height: 40px;
    padding-left: 3px;
    margin: 8px 9px;
}

input:focus, label:focus{
    outline: none;
}

input[name="exp-month"]{
    width: 44px;
    height: 30px; 
}

input[name="exp-year"]{
    width: 45px;
    height: 30px;
}

input[name="cvc"]{
    width: 70px;
    height: 33px;
}

input[type="submit"]{
    width: 30vw;
    height: 45px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    margin-top: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

input[type="submit"]:hover{
    background-color: hsl(278, 71%, 32%);
}



/* Responsive screens */
/*Desktop 1440x900 */
@media (min-width:1439px){
    #card-front{
        width: 35%;
        left: 15vw;
        top: -90vh;
    } 
    #card-logo{
        top: -88vh;
    }
    #name-card{
        top: -73vh;
    }
    #numb-card{
        top: -78vh;
    }
    #exp-card{
        left: 33vw;
        top: -73vh;
    }
    #card-back{
        left: 19vw;
        top: -65vh;
    }
    #cvc-card{
        left: 38vw;
        top: -56vh;
    }
    #form-content{
        width: 500px;
        top: 18vh;
        left: 45vw;
    }
    label{
        width: 100%;
        margin: 9px 10px;
        font-size: 18px;
    }
    input{
        margin: 8px 9px;
    }
} 

/* Laptop */
@media (max-width: 1025px){
    #card-front{
        width: 35%;
        top: -100vh;
    }
    #card-logo{
        width: 6%;
        top: -98vh;
    }
    #name-card{
        top: -80vh;
        left: 17vw;
    }
    #numb-card{
        font-size: 19px;
        left: 17vw;
        top: -86vh;
        width: 45vw;
    }
    #exp-card{
        left: 38vw;
        top: -80vh;
    }
    #card-back{
        width: 35%;
        left: 17vw ;
        top: -65vh;
    }
    #cvc-card{
        left: 45vw;
        top: -55vh;
    }
    #form-content{
        left: 59vw;
    }
    label{
        width: 20vw;
        margin: 9px 4px;
    }
    input{
        width: 30vw;
        height: 40px;
        margin: 6px 0;
    }
} 

/* Galaxy S8+ */
@media (max-width:361px){
    .backgrounds img{
        width: 136vw;
        height: 50vh;
    }
    #card-front{
        width: 75%;
        top:-43vh
    }
    #card-logo{
        width: 9%;
        top: -42vh;
    }
    #name-card{
        top: -28vh;
        font-size: 14px;
    }
    #numb-card{
        width: 60vw;
        font-size: 14px;
        left: 18vw;
        top: -33vh;
    }
    #exp-card{
        left: 70vw;
        top: -28vh;
        font-size: 14px;
    }
    #card-back{
        width: 75%;
        top:-20vh;
        left: 28vw;
    }
    #cvc-card{
        top: -12vh;
        left: 84vw;
        font-size: 14px;
    }
    #form-content{
        width: 360px;
        top: 55vh;
        left: 8vw;
    }
    label{
        width: 55vw;
        font-size: 20px;
    }
    input{
        width: 80vw;
        font-size: 15px;
    }
    input[type="submit"]{
        width: 80vw;
        height: 50px;
    }
} 

@media (max-width:376px){
    .backgrounds img{
        width: 136vw;
        height: 45vh;
    }
    #card-front{
        width: 70%;
        top:-41vh
    }
    #card-logo{
        width: 8%;
        top: -39vh;
    }
    #name-card{
        top: -25vh;
        font-size: 12px;
    }
    #numb-card{
        width: 60vw;
        font-size: 14px;
        left: 18vw;
        top: -31vh;
    }
    #exp-card{
        left: 65vw;
        top: -25vh;
        font-size: 12px;
    }
    #card-back{
        width: 70%;
        top:-17vh;
        left: 25vw;
    }
    #cvc-card{
        top: -9vh;
        left: 80vw;
        font-size: 12px;
    }
    #form-content{
        width: 360px;
        top: 50vh;
        left: 7vw;
    }
    label{
        width: 55vw;
        font-size: 18px;
    }
    input{
        width: 80vw;
        font-size: 15px;
    }
    input[type="submit"]{
        width: 80vw;
        height: 50px;
    }
} 