*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}
body{
    max-width: 1040px;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Background Header */
header{
    width: 40%
}
.backgrounds{
    width:40% ;
}
.backgrounds img.bg-image{
    display: none;

}
.backgrounds img.bg-desk{
    display: flex;
}
/* Image card - front */
.card-container{
    position: relative;
}
#card-front{
    position: absolute;
    width: 45%;
    left: 15vw;
    top: -80vh;
}
#card-logo{
    position: absolute;
    width: 6%;
    left: 17vw;
    top: -77vh;
}
#name-card{
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 15px;
    left: 18vw;
    top: -58vh;
    text-transform: uppercase;
}
#numb-card{
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 20px;
    left: 18vw;
    top: -64vh;
    letter-spacing: 3px;
}
#exp-card{
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 15px;
    left: 36vw;
    top: -58vh;
}
/* Image card - back */
.card-cont-back{
    position: relative;
}
#card-back{
    position: absolute;
    width: 45%;
    left: 20vw ;
    top: -50vh;
}
#cvc-card{
    color: hsl(0, 0%, 100%);
    position: absolute;
    font-size: 15px;
    left: 45vw;
    top: -38vh;
}

/* Form */
form{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#form-content{
    position: absolute;
    width: 500px;
    background-color: #fff;
    padding: 25px;
    top: 25vh;
    left: 55vw;

}
label{
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 9px 0px;
    font-size: 18px;
    position: relative;
    color: hsl(278, 71%, 32%);
    font-weight: 500;
}

input{
    width: 26vw;
    height: 40px;
    padding-left: 3px;
    margin: 8px 5px;
}

input:focus, label:focus{
    outline: none;
}

input[name="name"]{
    margin-top: 4px ;

}
input[name="exp-month"]{
    margin:5px 0;
    width: 44px;
    height: 30px;
    
}

input[name="exp-year"]{
    width: 45px;
    height: 30px;
}

input[name="cvc"]{
    /*margin: 3px 10px;*/
    width: 70px;
    height: 33px;
}

input[type="submit"]{
    width: 30vw;
    height: 40px;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    margin-top: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

input[type="submit"]:hover{
    background-color: hsl(278, 71%, 32%);
}

/* Footer */
footer{
    padding-top: 20px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.attribution { 
    font-size: 10px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


/* Responsive screens */

@media (max-width:321px){
    #cvc-card{
        top:-192px;
        left: 260px;
    }
    #card-front{
        width: 73%;
    }
    #card-back{
        width: 70%;
    }
}

@media (max-width: 350px){
    #cvc-card{
        top:-192px;
        left: 260px;
    }
}


@media (max-width: 1025px){
    #card-front{
        position: absolute;
        width: 39%;
        left: 15vw;
        top: -80vh;
    }
    #card-logo{
        position: absolute;
        width: 5%;
        left: 17vw;
        top: -77vh;
    }
    #name-card{
        color: hsl(0, 0%, 100%);
        position: absolute;
        font-size: 15px;
        left: 18vw;
        top: -61vh;
        text-transform: uppercase;
    }

    #numb-card{
        color: hsl(0, 0%, 100%);
        position: absolute;
        font-size: 18px;
        left: 18vw;
        top: -67vh;
        width: 40vw;
    }
    #exp-card{
        color: hsl(0, 0%, 100%);
        position: absolute;
        font-size: 15px;
        left: 36vw;
        top: -61vh;
    }
    /* Image card - back */
    .card-cont-back{
        position: relative;
    }
    #card-back{
        position: absolute;
        width: 39%;
        left: 17vw ;
        top: -53vh;
    }
    #cvc-card{
        color: hsl(0, 0%, 100%);
        position: absolute;
        font-size: 15px;
        left: 47vw;
        top: -43vh;
    }
    
    /* Form */
    form{
        position: relative;
    }
    .form-content{
        padding-top: 40px;
        position: absolute;
        left:60vw;
        top: 20vh;
    }
    label{
        text-transform: uppercase;
        display: block;
        margin: 9px 0px;
        font-size: 18px;
        position: relative;
        color: hsl(278, 71%, 32%);
        font-weight: 500;
        width: 20vw;
    }
  
    input{
        width: 26vw;
        height: 40px;
        padding-left: 3px;
        margin: 6px 0;
    }
    input[name="name"]{
        margin-top: 5px;

    }

}
